BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
KeepEmptyLinesAtTheStartOfBlocks: true
BreakBeforeBraces: Attach
ColumnLimit: 80
