[submodule "kernel/src/flanterm"]
	path = kernel/src/flanterm
	url = https://github.com/mintsuki/flanterm
[submodule "kernel/src/uACPI"]
	path = kernel/src/uACPI
	url = https://github.com/uACPI/uACPI
[submodule "limine"]
    path = limine
    url = https://github.com/limine-bootloader/limine.git
    branch = v9.x-binary
