name: Build

on:
  push:
    branches:
      - main
    paths:
      - 'kernel/**'
      - 'include/**'
  pull_request:
    paths:
      - 'kernel/**'
      - 'include/**'
  workflow_dispatch: # manual trigger
  workflow_run:
    workflows: ["Update CI Container"]
    types:
      - completed

permissions:
  contents: read
  issues: read
  pull-requests: read

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/bluegummi/charmos-x86-env:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_KEY }}

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Compile
        run: ./build.sh

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: build/charmos-x86_64.iso
          retention-days: 7
